<p>
  {{totalAmount}}
</p>
<div class="dropdown mb-5">
  <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" name="sort"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    篩選
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each category}}
    <a class="dropdown-item" herf="#" name="{{this.name}}">{{this.name}}</a>
    {{/each}}
  </div>
</div>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <h4 style="display: inline; vertical-align: middle;">
          {{ this.name }}
        </h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-success" href="./records/{{ this._id }}/edit">edit</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>



{{!-- <p>{{this.date}}在{{this.name}}花了{{this.amount}}，這歸類在{{this.category}}之下</p> --}}