<p>
  {{totalAmount}}
</p>
<div class="input-group-append">
  <div class="dropdown ml-1">
    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" name="sort"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      顯示順序
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/?sort=rating&order=-1" name="-1">評分高優先</a>
      <a class="dropdown-item" href="/?sort=category&order=1" name="1">類別：A-Z</a>
      <a class="dropdown-item" href="/?sort=location&order=1" name="1">地址：A-Z</a>
      <a class="dropdown-item" href="/?sort=name&order=1" name="1">餐廳名稱：A-Z</a>
      <a class="dropdown-item" href="/?sort=name&order=-1" name="-1">餐廳名稱：Z-A</a>
    </div>
  </div>
</div>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <h4 style="display: inline; vertical-align: middle;">
          {{ this.name }}
        </h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-success" href="./records/{{ this._id }}/edit">edit</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>



{{!-- <p>{{this.date}}在{{this.name}}花了{{this.amount}}，這歸類在{{this.category}}之下</p> --}}